// place your custom styles here

/* 字体大小全局样式 */
@for $i from 1 through 4 {
  h#{$i} {
    font-size: calc(30px - (#{$i} - 1) * 4px) !important;
  }
}
$theme-color: #303233;

.theme-container {
  color: var(--text-color);
  font-size: var(--text-size);

  .page {
    width: calc(100% - 288px);
    padding-inline-start: 288px;

    .breadcrumb {
      padding: 20px;
    }

    .page-title,
    .theme-hope-content {
      width: calc(100% - 248px);
      padding: 24px;
      margin: 0;

      .hint-container {
        font: 500 13px PingFang SC, sans-serif;
        border-inline-start: unset;
        border-radius: 6px;

        .hint-container-title {
          font: 600 14px PingFang SC, sans-serif;

          &::before {
            width: 20px;
            height: 20px;
          }
        }

        &.tip {
          color: #253858;
          background-color: #d9f0ff;
          border: 1px solid var(--tip-border-color);
          .hint-container-title {
            color: #253858;
            &::before {
              background-image: url("/icon-tip.svg");
            }
          }
        }

        &.note {
          color: #303233;
          background-color: #e9e9eb;
          border: 1px solid var(--note-border-color);
          .hint-container-title {
            color: #303233;
            &::before {
              background-image: url("/icon-note.svg");
            }
          }
        }

        &.danger {
          color: #4c1a1a;
          background-color: #fde2e2;
          border: 1px solid var(--danger-border-color);
          .hint-container-title {
            color: #4c1a1a;
            &::before {
              background-image: url("/icon-danger.svg");
            }
          }
        }
      }

      table {
        width: fit-content;
        color: var(--table-text-color);
        font: 400 14px PingFang SC, sans-serif;

        th,
        td {
          border-color: var(--border-color);
        }

        td {
          padding: 16px;
        }

        th,
        tr:first-child {
          background-color: #f0f3f5;
        }

        thead + tbody {
          tr:first-child {
            background-color: #fff;
          }
        }

        tr:nth-child(2n) {
          background: #fff;
        }
      }

      code {
        color: var(--text-color);
        font: 400 13px PingFang SC, sans-serif;
        border-radius: 4px;
      }
    }

    #toc {
      left: unset;
      right: 0;
      width: 200px;
      color: #909599;
      font: 500 12px PingFang SC, sans-serif;

      .toc-header {
        color: #606466;
        font: 500 13px PingFang SC, sans-serif;
      }

      .toc-link {
        line-height: 20px;
        &:hover {
          color: var(--theme-color);
        }
        &.level3 {
          font-weight: 400;
        }
      }
    }
  }
}

.navbar {
  .navbar-start {
    .brand {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 22px;
      }
      .site-name {
        color: #009dff;
        font: 500 22px PingFang SC, sans-serif;
      }
    }
  }
}

.nav-dropdown {
  .dropdown-subitem-wrapper {
    .dropdown-subitem {
      .icon {
        vertical-align: text-bottom;
      }
    }
  }
}

div[class*="language-"] {
  padding-top: 2px;
  border: 1px solid var(--codes-border-color-dark);
  background: var(--codes-bg-color-dark);
  box-shadow: 0 -1px 0 0 #ebeef5 inset;

  code {
    color: #fff !important;

    .token.punctuation {
      color: #fff;
    }
  }
}

div[class*="language-"]::before {
  right: 5em;
}

div[class*="language-"] > button.copy-code-button:not(.fancy) {
  right: 1em;
}

.sidebar-group .sidebar-group {
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
}

.sidebar-group .sidebar-group .sidebar-heading {
  font-size: 1em;
}

.el-popper__arrow {
  display: none;
}

.el-anchor .el-anchor__list .el-anchor__item a {
  font-size: 14px;
}

.el-anchor .el-anchor__list .el-anchor__link:first-child {
  padding-top: 0;
}

.el-anchor .el-anchor__list .el-anchor__link {
  padding: 7px 0;
}

.el-anchor > .el-anchor__list > .el-anchor__item {
  > .el-anchor__link {
    font-size: 16px;
    color: #000;
  }
}

.nav-links {
  padding-left: 16px;
  > .nav-item {
    padding: 0 20px;
  }
  > .nav-item:first-child {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid var(--border-color, #dce2e6);
    background: var(--fill-color-blank, #fff);
    > .dropdown-wrapper {
      > .dropdown-title {
        > .title {
          margin-right: 24px;
        }
      }
    }
  }
}

$sidebar-levels: 4; // 菜单的级数
$base-color: #000000; // 初始字体颜色
$fade-amount: 20; // 每级字体颜色变淡的递减值

#sidebar {
  padding-inline-start: 0;
  background-color: #fff;
  font-size: var(--text-size);
  font-family: PingFang SC, sans-serif;
  border-right: 1px solid #d4dade;
  > .sidebar-links li {
    > a {
      font-weight: 500;
      font-size: var(--text-size);

      &.active,
      &:hover {
        color: var(--theme-color);
        background: #fff;
      }
    }
    > .sidebar-group {
      > button.sidebar-heading {
        font-weight: 500;

        &.active,
        &:hover {
          color: var(--theme-color);
          background: #fff;
        }
      }
      > .sidebar-links {
        border-left: 1px solid #ccc;
        margin-left: 12px;
        > li {
          > .sidebar-link {
            font-weight: 400;
            padding-inline-start: 0.7rem;
          }
          > .sidebar-group {
            padding-inline-start: 0.2rem;
          }
        }
      }
    }
  }
}

.hint-container.details {
  padding: 12px;
  background: var(--bg-color-back);
  border: 1px solid var(--border-color-dark);
}

.hint-container.details summary::before {
  display: none;
}
button {
  /* 强制按钮等表单元素继承父级容器（最终是 body）的字体设置 */
  font-family: inherit;
}

.footer-wrapper {
  padding: 12px 0;
  padding-inline-start: 0 !important;
  border-top: 0;
  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 8px 24px;
  }
}
