// place your custom styles here

.nav-dropdown {
  .dropdown-subitem-wrapper {
    .dropdown-subitem {
      .icon {
        vertical-align: text-bottom;
      }
    }
  }
}

div[class*=language-] {
  padding-top: 2px;
} 

div[class*=language-]::before {
  right: 5em;
}

div[class*=language-] > button.copy-code-button:not(.fancy) {
  right: 1em;
}

.sidebar-group .sidebar-group {
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
}

.sidebar-group .sidebar-group .sidebar-heading {
  font-size: 1.0em
}

.el-anchor .el-anchor__list .el-anchor__item a {
  font-size: 14px; 
}

.el-anchor > .el-anchor__list >.el-anchor__item  {
    > .el-anchor__link {
      font-size:16px;
      color: #000;
    }
}