// you can change colors here
$theme-color: #009dff;
$text-color: #303233;
$table-text-color: #000;
$border-color: #d4dade;
$text-size: 14px;
$content-width: 1632px;

:root {
  --docsearch-modal-width: 860px !important;
  --docsearch-modal-height: 600px !important;
  --tip-bg-color: #d9f0ff;
  --tip-border-color: #c6e2ff;
  --codes-border-color: #e6e9eb;
  --codes-bg-color: #f5f7fa;
}
